.CartTotalInfo {
  padding: 20px 120px 20px 0;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
}

.CartTotalInfo-data {
  padding: 0 0 0 60px;
}

.CartTotalInfo-empty {
  display: flex;
  justify-content: center;
}
