.ReplyWindow {}

.ReplyWindow-title {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
}

.ReplyWindow-form {
  display: flex;
  flex-direction: column;
}

.ReplyWindow-controls {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.ReplyWindow-controls button{
  margin-right: 10px;
}

.ReplyWindow-disabled {
  cursor: auto;
  opacity: 0.5;
}
