.PaginationItem {
  min-width: 20px;
  min-height: 20px;
  font-size: 16px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
}

.PaginationItem:hover {
  background-color: #E1E1E1;
}

.PaginationItem_selected {
  background: #0087E9;
  color: #fff;
}

.PaginationItem_selected:hover {
  background: black;
}

.PaginationItem_disabled {
  cursor: auto;
  pointer-events: none;
  color: #CCCCCC;
}

.PaginationItem_disabled:hover {
  background-color: transparent;
}
