.NewCommentWindow {}

.NewCommentWindow-title {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
}

.NewCommentWindow-form {
  display: flex;
  flex-direction: column;
}

.NewCommentWindow-controls {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.NewCommentWindow-controls button{
  margin-right: 10px;
}
